.sub {
  &__memberName {
    width: 20%;
  }

  &__spaceName {
    width: 20%;
  }

  &__planType {
    width: 15%;
  }

  &__amount {
    width: 15%;
  }

  &__days {
    width: 15%;
  }

  &__status {
    width: 15%;
  }

  &__row {
    cursor: pointer;
  }
}

.modal__Subprofile-wrap {
  width: 100%;
  height: 150px;
  background-color: #5974FD;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: -2px;
}

.extraPower__wrap {
  .modal__wrap {
    padding: 20px;
    padding-top: 0;
    height: 100%;
  }

  .v--modal {
    max-width: 500px !important;
  }
}

.extraPower__upload {
  height: 40px;
  width: fit-content;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 5px;
  box-shadow: 2px 2px 10px rgba(#000000, 0.08);
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgba(#000000,0.8);
  font-size: 14px;
}

.modal__name {
  font-weight: normal;
  font-style: italic;
  font-style: 14px;
  color: #3657ff;
}

.custom-file-input,
.custom-file-label,
.custom-file {
  height: 50px !important;
}

.custom-file {
  margin-bottom: 24px;
  overflow: hidden;
}

.custom-file-label {
  border-radius: 4px;
  border: 1px solid rgba(5, 6, 9, 0.7) !important;
  font-size: 14px !important;
  color: #000000 !important;
  padding: 5px 20px !important;
  border-right: none;
  line-height: 40px !important;
  background-color: transparent !important;

  &:after {
    background-color: #3657ff !important;
    height: 50px !important;
    color: #fff !important;
    line-height: 50px !important;
    border-radius: 0 4px 4px 0;
    padding: 0 !important;
    width: 30%;
    text-align: center;
    top: -1px;
    font-size: 16px;
    font-weight: 400;
  }
}
